$primaryColor:#2d3250;;
// $primaryColor:#121f2f;
$secondaryColor: #f7b176;
$tertiaryColor: #676f9d;

$whiteColor: #fefefe;
$blackColor: #000;
$grayColor: #edf1f7;

$primaryColor100: rgb(18, 31, 47, 0.6);