$primaryColor:#2d3250;;
$secondaryColor: #f7b176;
$tertiaryColor: #676f9d;
$quarternaryColor: #121f2f;

$whiteColor: #fefefe;
$blackColor: #000;
$grayColor: #edf1f7;

$dangerColor: red;

$primaryColor100: rgb(18, 31, 47, 0.6);